azure-rest-api-specs/
.idea/
*.jar
*.class
build/
**/build/
.gradle
sdk/src/main/java/com/azure/simpleSDK/compute/models/
sdk/src/main/java/com/azure/simpleSDK/network/models/
sdk/src/main/java/com/azure/simpleSDK/compute/client/
sdk/src/main/java/com/azure/simpleSDK/network/client/
sdk/src/main/java/com/azure/simpleSDK/resources/client/
sdk/src/main/java/com/azure/simpleSDK/resources/models/
sdk/src/main/java/com/azure/simpleSDK/authorization/models/
sdk/src/main/java/com/azure/simpleSDK/authorization/client/
sdk/src/main/java/com/azure/simpleSDK/frontdoor/client/
sdk/src/main/java/com/azure/simpleSDK/frontdoor/models/

